<header>
  <div class="MainLogo">
    <h1><%= link_to 'VRoom', root_path %></h1>
  </div>
  
  <!-- PC  -->
  <div class="navbar navbar_pc flex">
    <div class="navbar_pc_li"><a href="#">トップページ</a></div>
    <div class="navbar_pc_li"><%= link_to "登録Vtuber一覧", registrations_path %></div>
    <div class="navbar_pc_li"><a href="#">お問い合わせ</a></div>
  </div>
  
  <!-- SPナビバー  -->
  <div class="navbar navbar_sp flex">
    <div>トップページ</div>
    <div>登録Vtuber一覧</div>
    <div>お問い合わせ</div>
  </div>
    
</header>